
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #303641;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 310px;
    background: #222;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

#number-input,
#result {
    width: 100%;
    height: 45px;
    background: #111;
    color: white;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #444;
    margin-bottom: 10px;
}

.cal-buttons {
    background: #f7b731;
    color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    border-radius: 8px;
    padding: 16px 0;
    border: none;
    user-select: none;
    transition: .2s;
}

.cal-buttons:hover {
    background: orange;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.operators .cal-buttons {
    width: 22%;
}

.col-3 {
    width: 30%;
    background-color: #eee;
}


.zero-clear .col-4 { width: 40%; }
.zero-clear .col-8 { width: 55%; }
